html {
  scroll-behavior: smooth;
}
img {
  width: 400; 
  height: 300;
}

header{
  height: 64px;
  background-color: blueviolet;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 8px 0px 8px;
  color: whitesmoke;
  font-size: 24px;
  text-transform: uppercase;
  overflow: hidden;
}

header nav ul {
  padding: 0;
  list-style-type: none;
}

.nav-link{
display: inline-block;
margin: 0 16px 0 16px;
}

.nav-link:hover{
  background-color: lightblue;
  border-radius: 4px;
}

.active {
  text-decoration: underline;
  background-color: blue;
  border-radius: 4px;
}

.nav-link a {
  text-decoration: none;
  color: whitesmoke;
}